{% load static %}
<footer>
    <div class="footerClass">
        <div class="float1">
            <div class="box">
                <h1><img src="../../static/media/lblogo.svg"></h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis hic voluptatibus illo odit quo dolorum explicabo neque fugiat rerum, commodi adipisci itaque aut cumque esse temporibus voluptate perferendis accusantium dolorem.</p>
            </div>
            <div class="box">
                <h1>Posts</h1>
                <a href="#">Templates</a>
                <a href="#">Blogs</a>
            </div>
            <div class="box">
                <h1>Contact</h1>
                <a href="#">Facebook</a>
                <a href="#">Instagram</a>
                <a href="#">Linkedin</a>
            </div>
            <div class="box">
                <h1>Other</h1>
                <a href="#">Jobs & Vacancies</a>
                <a href="#">Advertise</a>
                <a href="#">From</a>
            </div>
        </div>
    </div>
</footer>