{% extends 'base.html' %}
{% block main %}
    <main>
        <div class="mainClass">
            <div class="trendingNews">
                <p class="tendingBlock">Trending:</p>
                <a href="#" class="trendlinks">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit earum tempore illo sint minus animi vero, porro placeat. Soluta tempora moles.</a>
            </div>
            <div class="headerNews">
                {% for post in first_article %}
                        <div class="block1">
                            <img src="{{post.img.url}}">
                            <div class="nameBlock">
                                <a href="{% url 'articlepage' post.id %}" class="categoryid"><i class="bi bi-circle-fill"></i>{{post.category}}</a>
                                <a href="{% url 'articlepage' post.id %}" class="linkid">{{post.name}}</a>
                                <p>{{post.date|date:'M d, Y'}}</p>
                            </div>
                        </div>
                {% endfor %}
                <div class="block2">
                    {% for post in second_article %}
                            <div class="float1">
                                <img src="{{post.img.url}}">
                                <div class="nameBlock">
                                    <a href="{% url 'articlepage' post.id %}" class="categoryid"><i class="bi bi-circle-fill"></i> {{post.category}}</a>
                                    <a href="{% url 'articlepage' post.id %}" class="linkid">{{post.name}}</a>
                                    <p>{{post.date|date:'M d, Y'}}</p>
                                </div>
                            </div>
                    {% endfor %}
                    <div class="float2">
                        {% for post in third_article %}
                                <div class="box">
                                    <img src="{{post.img.url}}">
                                    <div class="nameBlock">
                                        <a href="{% url 'articlepage' post.id %}" class="categoryid"><i class="bi bi-circle-fill"></i> {{post.category}}</a>
                                        <a href="{% url 'articlepage' post.id %}" class="linkid">{{post.name}}</a>
                                        <p>{{post.date|date:'M d, Y'}}</p>
                                    </div>
                                </div>
                        {% endfor %}
                        {% for post in fourth_article %}
                                <div class="box">
                                    <img src="{{post.img.url}}">
                                    <div class="nameBlock">
                                        <a href="{% url 'articlepage' post.id %}" class="categoryid"><i class="bi bi-circle-fill"></i> {{post.category}}</a>
                                        <a href="{% url 'articlepage' post.id %}" class="linkid">{{post.name}}</a>
                                        <p>{{post.date|date:'M d, Y'}}</p>
                                    </div>
                                </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="postClass">
                <div class="lastPost">
                    <div class="titleClass">
                        <p><i class="bi bi-justify-right"></i> Last posts</p>
                        <p>Latest news, lessons, guide, and more</p>
                    </div>
                    <div class="postersBlock">
                        {% for post in articles %}
                            <div class="postBlock">
                                <div class="img">
                                    <a href="{% url 'articlepage' post.id %}"><img src="{{post.img.url}}"></a>
                                    <div class="categoryBlock">
                                        <a href="{% url 'articlepage' post.id %}"><i class="bi bi-circle-fill"></i> {{post.category}}</a>
                                    </div>
                                </div>
                                <div class="info">
                                    {% if post.sponsor %}
                                        <p class="sponsor"><i class="bi bi-info-circle"></i> {{post.sponsor}}</p>
                                    {% endif %}
                                    <a href="{% url 'articlepage' post.id %}" class="name">{{post.name}}</a>
                                    <p class="date">{{post.date|date:'M d, Y'}}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="loadBtn">
                        <a href="#" class="btn">See more</a>
                    </div>
                </div>
                <div class="ttClass">
                    <div class="titleClass">
                        <p>Trending topics</p>
                    </div>
                    <div class="ttBlock">
                        <div class="categoriesBlock">
                            <div class="categoryClass">
                                <a href="#">Templates</a>
                            </div>
                            <div class="categoryClass csClass2">
                                <a href="#">Advertise</a>
                            </div>
                            <div class="categoryClass csClass3">
                                <a href="#">Jobs & Vacancies</a>
                            </div>
                            <div class="categoryClass csClass5">
                                <a href="#">Form</a>
                            </div>
                            <div class="categoryClass csClass4">
                                <div class="accordion" id="accordionPanelsStayOpenExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">Categories</button>
                                        </h2>
                                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                                            <div class="accordion-body">
                                                <div class="insideBody">
                                                    {% for post in categoriesWithOutTemplates %}
                                                        <a href="#">{{post.name}}</a>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="titleClass">
                        <p>Recent news</p>
                    </div>
                    {% for post in articles_in_right %}
                        <div class="newsBlock">
                            <div class="img">
                                <a href="{% url 'articlepage' post.id %}"><img src="{{post.img.url}}"></a>
                            </div>
                            <div class="info">
                                <a href="{% url 'articlepage' post.id %}">{{post.name}}</a>
                                <p>{{post.date|date:'M d, Y'}}</p>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- <div class="titleClass">
                        <p>Recent questions</p>
                    </div>
                    <div class="questionsBlock">
                        <a href="#">How did we get here? The history of the business told through tweets</a>
                        <a href="#">В центре сюжета — психолог, специализирующийся на событиях, которые пресса квалифицирует как «чудо».</a>
                        <a href="#" class="btn">Go to form</a>
                    </div> -->
                </div>
            </div>
        </div>
    </main>
{% endblock %}